body {
    background-color: #d9a475;
    color: white;
    font-family: "Times New Roman", serif;
}

.my_image {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

img.post {
    width: 120px;
}

.title {
    height: 5%;
    background-color: #a34828;
}

.header {
    display: flex;
    background-color: #8c3d21;
    color: #ff6600;
    height: 17%;
    align-items: center;
}

.contents {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.contents1 {
    background: #8c3d21;
    justify-content: space-around;
    height: 180%;

}

.barn-image {
    display: block;
    justify-content: space-around;
    height: 78%;
}

.post {
    width: 70%;
    background-color: #7b3c22;
    padding: 20px;
}

#post-messages {
    height: 90%;
    overflow: scroll;
}

.post-form {
    height: 30px;
}

.user-list {
    width: 30%;
    background-color: #a34828;
    padding: 20px;
}

.header > div {
    padding: 20px;
}

.like-button {
    margin-right: 10px;
}

.category-buttons {
    margin-top: 20px;
    text-align: center;
}

.category-buttons p {
    font-weight: bold;
    color: #fafafa;
}

.category-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #a34828;
    color: white;
    border: none;
    cursor: pointer;
}

.category-button:hover {
    background-color: #8c3d21;
}


#sidebar {
  width: 0;
  position: fixed;
  top: 100px;
  bottom: 350px;
  right: 20px;
  background-color: white;
  transition: 0.5s;
  color: black;
  border-radius: 10px;
}

#sidebar p {
  padding: 8px 8px 8px 32px;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sidebar p:hover {
  color: #f1f1f1;
}

#mainContent {
  transition: margin-left 0.5s;
  padding: 16px;
}

#toggleButton {
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 50px;
  z-index: 1;
}


.auction-container {
    clear:both;
    width: 100%;
    padding-top: 20%;
    overflow: auto;
    white-space: nowrap;
}
.auction {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
.auction-image {
    max-width: 100%;
}

.my_image {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}